{
  "env": {
    "browser": true,
    "es2020": true,
    "jest": true
  },
  "extends": ["prettier", "plugin:react/recommended", "airbnb"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["@babel", "react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
