# Dependencies
node_modules

# Distributed version
dist

# Ignore files
.eslintignore
.gitignore
.prettierignore
.stylelintignore

# MacOS
.DS_Store

# Node Package Manager
.npmrc

# Node Version Manager
.nvmrc

# Package files
yarn.lock
