---

name: Push (main)

env:
  NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

on:
  push:
    branches:
    - main

jobs:
  create_npm_release:
    name: Create NPM Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
    - run: |
        npm install --global yarn
        yarn bootstrap --frozen-lockfile
        yarn build
        lerna publish --contents dist
